.home{
    background-color: aquamarine;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 90px;
}
.imgCaptarHome img{
    width: 500px;
}
.img-baixar{
    display: flex;
    gap: 50px;
}
.img-baixar img {
    width: 200px;
}