.navBar{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.navBar img{
    width: 250px;
}
@media(max-width:700px){
    .navBar{
        justify-content: center;
        padding-left: 0px;
    }
    .navBar img{
        width: 200px;
    }
}